.list {
    list-style: none;
    font-size: larger;
    justify-content: baseline;
    display: flex;
    gap: 30px;
    margin-top: 0;
    padding-left: 0;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.about {
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.list-item {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-size: 24px;
}

.scale-up-center:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    50% {
        -webkit-transform: scale(0.75);
              transform: scale(0.75);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

    .first-description {
        width: 570.25px;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 21px;
        line-height: 25.41px;
    }

    .container {
        margin: 0 auto;
        outline: 0px solid #202023;
        width: 1200px;
    }

    .first-title {
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 70px;
    }

    .products-list {
        padding-left: 0;
    }

    .price {
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
    }

    .card {
        background-color: #272727;
        width: 310px;
        height: 225px;
        display: flex;
        background: linear-gradient(to right, black 0, 22%, #272727);
    }

    .card:hover {
        background-color: #EBAD51;
        width: 310px;
        height: 225px;
        display: flex;
        background: linear-gradient(to right, black 0, 22%, #EBAD51);
    }

    .cards {
        display: flex;
        justify-content: baseline;
        gap: 104px;
        list-style: none;
    }

    .description-card {
        text-align: center
    }

    .product-description {
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
    }

    .button-card {
        color: white;
        background-color: #C85312;
        border: 0;
        width: 79px;
        height: 34px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 19px;
    }

    .button-about {
        width: 207px;
        height: 57px;
        border-radius: 17px;
        background-color: rgb(180, 123, 72);
        color: white;
        border: 0;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 24px;
        margin-bottom: 125px;
    }
    .scale-down-center:hover {
        -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes scale-down-center {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5);
        }
      }

    .menu {
        background-color: #202023;
        padding-top: 25px;
    }

    .menu-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 200px;
        justify-content: center;
        list-style: none;
        margin-bottom: 0px;
        padding-left: 0;
    }


    .outline-menu {
        outline: 1px solid white;
        width: 328px;
        height: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-buttons {
        width: 160px;
        height: 41px;
        background-color: #B47B48;
        border-radius: 17px;
        border: 0;
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 25.92px;
        margin-bottom: 7px;
        margin-top: 9px;
    }

    .menu-items {}

    .menu-title {
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 64px;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .header-bckg {
        background-image: url(img/header1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .all-code {
        padding: 0;
        margin: 0;
    }

    html {
        padding: 0;
    }

    .header {
        padding-top: 50px;
    }

    .quality-our-bekary {
        background-color: #202023;
        padding-bottom: 47.54px;
        padding-top: 90px;

    }

    .quality-bckg {
        background-image: url(img/quality.png);
        background-color: #202023;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .quality-list {
        margin-top: 0px;
        row-gap: 92px;
        display: flex;
        justify-content: center;
        column-gap: 92px;
        margin-bottom: 0;

    }

    .cookies {
        align-self: center;
        justify-self: center;
    }

    .pie {
        row-gap: 81px;
    }

    .rotate-scale-up:hover {
        -webkit-animation: rotate-scale-up 0.65s linear both;
                animation: rotate-scale-up 0.65s linear both;
    }
    @keyframes rotate-scale-up {
        0% {
          -webkit-transform: scale(1) rotateZ(0);
                  transform: scale(1) rotateZ(0);
        }
        50% {
          -webkit-transform: scale(1.5) rotateZ(180deg);
                  transform: scale(1.5) rotateZ(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateZ(360deg);
                  transform: scale(1) rotateZ(360deg);
        }
      }
      

    .quality-list-items {
        list-style: none;
    }

    .description-quality {
        text-align: left;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(36px);
        background: rgba(242, 242, 242, 0.3);
        height: 197.53px;
        width: 291.48px;
        display: flex;
        align-self: center;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        color: white;
        font-size: 24px;
    }

    .quality-title {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 64px;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .why-title {
        color: white;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        margin-top: 0;
    }

    .why {
        background-image: linear-gradient(to right, black 0%, transparent 100%), url(img/why-bckg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 55px;
    }

    .why-list {
        display: flex;
        justify-content: center;
        gap: 140px;
        margin-bottom: 0;
    }

    .why-description {
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 24px;
        display: flex;
        justify-content: center;
    }

    .where {
        background-color: #202023;
    }

    .where-title {
        margin-top: 0;
        color: white;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
    }

    .telephone {
        text-decoration: none;
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 24px;
    }

    .how {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        color: white;
        font-size: 40px;
    }

    .where-list {
        display: flex;
        gap: 100px;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .how-links {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        color: white;
    }

    .when {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        color: white;
        font-size: 40px;
    }

    .when-description {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        color: white;
    }

    .footer {
        background-color: #202023;
    }

    .footer-list {
        margin-top: 0;
        display: flex;
        gap: 140px;
        list-style: none;
    }

    .list-footer {
        color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 24px;
    }

    .h1-footer {
        margin-top: 0;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 40px;
    }

    .copyright {
        color: white;
        margin-bottom: 0;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        font-size: 20px;
    }