.list {
    list-style: none;
    font-size: larger;
    justify-content: baseline;
    display: flex;
    gap: 30px;
    margin-top: px;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.list-item {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

}

.first-description {
    width: 570.25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 21px; 
    line-height: 25.41px;
    margin-left: 160px;
}

.bckg-header {
    background-image: url(img/header.png);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    outline: 1px solid black;
    width: 1200px;
}

.first-title {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-size: 70px;
    margin-left: 160px;
}

.price {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.card {
    background-color: #272727;
    width: 310px;
    height: 225px;
    display: flex;
}

.cards {
    display: flex;
    justify-content: baseline;
    gap: 104px;
}

.description-card {
    text-align: center
}

.product-description {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.button-card {
    color: white;
    background-color: #C85312;
    border: 0;
    width: 79px;
    height: 34px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
        font-size: 19px;
}
.button-about {
    width: 207px;
    height: 57px;
    border-radius: 17px;
    background-color: rgb(180, 123, 72);
    color: white;
    border: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 24px;
      margin-left: 160px;
}