.list {
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.list-item {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

}

.header {}

.first-description {
    width: 570.25px;
    height: 225px;
    left: 160px;
    right: 700.75px;
    top: 347px;
    bottom: 451px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.bckg-header {
    background-image: url(img/header.png);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    outline: 1px solid black;
    width: 1200px;
}

.first-title {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-size: 70px;
}

.price {
    /* $8.00(kg) */
    position: absolute;
    width: 105px;
    height: 29px;
    left: 348px;
    right: 978px;
    top: 813px;
    bottom: 181px;
}